    /* Style the top navigation bar */
    .navbar {
        display: flex;
        background-color: #F5F5F5;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }
      
      /* Style the navigation bar links */
      .navbar a {  
        padding: 14px 12px;
        text-decoration: none;
        text-align: center;
      }
      
            /* Change color on hover */
            .navbar a:hover {
                background: rgb(47,137,252);
                background: linear-gradient(0deg, rgba(47,137,252,1) 0%, rgba(48,227,159,1) 70%);
                
                background-size: 100%;
                background-repeat: repeat;
            
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            
                text-decoration: underline;
            }

        /* Left Navbar column */
      .navbar .navbar-left {
        flex: 30%;
        padding: 20px;
        justify-content: left;
        align-content: center;
        text-align: left;
      }
    
            /* Cap Logo Size */
            .navbar .navbar-left img {
                height: 30px;
            }

            /* Hide Responsive Elements at Full Screen Size */
            .navbar .navbar-left .responsive {
                display: none;
            }

        
        /* Main Navbar column */
        .navbar .navmain {
            flex: 40%;
            padding: 20px;
            justify-content: center;
            align-content: center;
            text-align: center;
        }
        
            /* Hide Responsive Elements at Full Screen Size */
            .navbar .navmain .responsive {
            display: none;
            }

        /* Right Navbar Column */
        .navbar .navbar-right {
                flex: 30%;
                /* background-color: white; */
                padding: 20px;
                justify-content: right;
                align-content: center;
                text-align: right;
            }
    
    /* Nav Bar Button Styles */
    .button {
        border-radius: 8px;
        border-width: 0px;
        color: #ffffff;
        background: #338acd;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        cursor: pointer;
        }
        
        .button:hover {
        background: #1c659c;
        text-decoration: none;
        transition: 0.5s;
        }
  
  /* Responsive layout - when the screen is less than 850px wide, change to compact layout */
  @media screen and (max-width: 850px) {
    /* Change display to Column for main elements  */
    .navbar {   
      flex-direction: column;
    }
    
    /* Change display to flex for hamburger menu and logo */
    .adaptive-navbar {
        display: flex;

    }
    
    /* Unhide Hamburger Menu */
    .navbar .navbar-left .responsive {
        display: inline;
        padding: 10px;
      }
      
    /* Unhide Get Started Button */
      .navbar .navmain .responsive {
        display: inline;
      }

    /* Toggle the navbar vilsibility with menu button*/
    .navbar .toggle{
        display: none;
        padding: 50px;
    }

    /* Set up condensed left hamburger menu */
    .navbar .adaptive-left {
        flex: 10%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    /* set up middle condensed logo */
    .navbar .adaptive-middle {
      justify-content: center;
      align-content: center;
      text-align: center;
      flex: 80%;
    }

    /* set up condensed right profile icon */
    .navbar .adaptive-right {
        flex: 10%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    /* make logo smaller on condensed format */
    .navbar .adaptive-middle img {
        height: 25px;
    }

    /* main navbar a padding */
    .navbar .navmain a {
      padding: 5px 10px;
    }

    /* keep navbar centered with logo */
    .navbar .navmain {
      padding: 0px 0px 10px 0px;
      padding-left: 10%;
      padding-right: 10%;
    }

    /* hide login and sign up in condensed view */
    .navbar .navbar-right {
      display: none;
    }
  }

  /* Keep Navbar Centered at Small Screen Size */
  @media screen and (max-width: 450px) {
    .navbar .navmain {
        padding-left: 0%;
        padding-right: 0%;
      }
  }