/* Content background window setup */
.pane {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-width: 300px;
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
    background: #F5F5F5;
    padding: 30px 32px;
    border-radius: 30px;
    box-shadow: 0 0 18px #000000e6;
}

/* Logo and Header */
.pane img { width: 100%; padding: 5%; }

.pane h1 {
    color: #192333;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
}

/* Icon Styles */
.pane .fa { color: #192333; margin-right: 15px; }

/* Form Alignment */
.pane .loginForm, .pane .signupForm {
    justify-content: center;
    text-align: center;
    align-content: center;
}

/* Login Form Item Spacing */
.pane .loginForm .formItem {
    margin-bottom: 35px;
    margin-top: 5px;
    width: 100%;
}

/* Signup Form Item Spacing */
.pane .signupForm .formItem {
    margin-bottom: 22.5px;
    margin-top: 5px;
    width: 100%;
}

/* Two Fields in one Row Styles */
.pane .signupForm .doubleRow { display: flex; gap: 10px; }

.doubleField { flex: 1; min-width: 0; }

.inputContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

/* Set general field styles */
.pane input, select {
    padding: 12px 15px;
    width: 85%;
    border: none;

    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 0 5px #c3c3c3e6;
    -webkit-box-shadow: 0 0 5px #c3c3c3e6;
    box-shadow: 0 0 5px #c3c3c3e6;
}

/* set width of fields on signup page */
.pane .signupForm input, select { width: 100%; }

/* Change border color of form fields when clicked */
input:focus, .dropdown:focus {
    border-color: #30acd9; 
    outline: none;
    box-shadow: 0 0 5px rgba(48, 172, 217, 0.5);
}

/* Style the dropdown menu */
.dropdown {
    font-size: 14px;
    font-family: 'Inria Sans', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #888;
    opacity: 0.9;
    appearance: none;
    cursor: pointer;
}

/* Style dropdown placeholder text */
.pane input::placeholder {
    font-family: 'Inria Sans', sans-serif;
    font-size: 14px;
    color: #888; 
    opacity: .9;
}

/* Make the blank placeholder selection gray */
.dropdown option[value=""] { color: #888; }

/* Submit button styling */
.pane .button { width: 95%; font-size: 16px; }

/* Signup/loging link styling */
.pane a { text-decoration: none; color: #30acd9; }

/* paragraph styling */
p { margin: auto; }

/* Highlight invalid fields */
.pane .signupForm .error, .pane .loginForm .error {
    background-color: #ffe6e6;
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

/* Form Error Messages */

.pane .loginForm .error-message,
.pane .signupForm .error-message {
    font-size: 12px;
    color: red;
    margin-top: 2px;
    margin-bottom: 0;
    display: none;
    text-align: left;
}

.pane .signupForm .error-message { margin-left: 5px; }
.pane .loginForm .error-message { margin-left: 45px; }

.pane .loginForm .invalid-message,
.pane .signupForm .invalid-message {
    display: block;
    margin-top:10px;
    margin-left:0px;
    text-align:center;
    font-size: 16px;
}

/* Styling adjustments for smaller devices */
@media screen and (max-width: 450px) {
    .pane {
        width: 90%;
        padding: 20px;
    }

    .pane select, input[type=text], input[type=password], input[type=email] {
        padding: 10px 15px;
        border: none;
    }

    .pane .loginForm .formItem, .pane .signupForm .formItem {
        margin-bottom: 20px;
        margin-top: 5px;
        width: 100%;
    }
}