.background-gradient {
        background: radial-gradient(100% 100% at 99% 99%, #32e2df 32%, transparent),radial-gradient(100% 100% at 31% 20%, #30e1cb -100%, transparent),radial-gradient(100% 100% at 92% 24%, #338acd 30%, transparent),radial-gradient(100% 100% at 21% 75%, #338acd 40%, transparent),#30dacf;
        background-attachment: fixed;
      }

.gradient-text {
    background: #F5F5F5;
    background: linear-gradient(0deg, rgba(47,137,252,1) 0%, rgba(48,227,159,1) 80%);
    
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    
  }

* {
    box-sizing: border-box;
  }
  

  /* Style the body */
  body {
    font-family: 'Inria Sans';
    margin: 0;
    height: 100%;
  }

  .header {
    margin-top: 70px;
  }

  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    /* background-color: #f1f1f1; */
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    /* background-color: white; */
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 900px) {
    .row {   
      flex-direction: column;
    }

  }