/* Header Layout */
.workout-title {
    padding-bottom: 10px;
}

.workout-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  
  .workout-desc {
    color: #777;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  /* Tags */
  .tag {
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    background-color: #eee;
    color: #555;
  }
  
  .tag.Beginner { background-color: #00d89e92; color: #ffffff; }
  .tag.Intermediate { background-color: #ffb24797; color: #ffffff; }
  .tag.Advanced { background-color: #ff696185; color: #ffffff; }
  
  .tag.xp {
    background-color: #e3efff;
    color: #2f89fc;
  }
  
  .tag.category {
    background-color: #e0e0e0;
    color: #888;
  }

  .difficulty.Beginner { background-color: #00d89e92; color: #ffffff; }
  .difficulty.Intermediate { background-color: #ffb24797; color: #ffffff; }
  .difficulty.Advanced { background-color: #ff696185; color: #ffffff; }
  
  /* Card layout */
  .exercise-row-card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    overflow: hidden;
    margin-bottom: 12px;
    align-items: stretch;
  }

  .exercise-row-card:hover {
    transform: translateY(-2px);
}

  
  .exercise-image {
    width: 160px;
    min-height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
  
  .exercise-content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
  }

  .exercise-body {
    padding: 20px;
    flex-grow: 1;
  }

  .exercise-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  
  .exercise-title {
    margin: 0 0 10px 0;
    font-size: 22px;
  }
  
  .exercise-info {
    display: flex;
    gap: 24px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .exercise-info i {
    margin-right: 6px;
  }
  
  .exercise-notes {
    font-size: 14px;
    color: #666;
    margin-bottom: 14px;
  }
  
  .exercise-tags {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
  }
  
  /* Responsive */
  @media (max-width: 650px) {
    .exercise-row-card {
      flex-direction: column;
    }
  
    .exercise-image {
      width: 100%;
      min-height: auto;
      height: 60px;
    }

    .exercise-tags {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
    }

    .exercise-tags .tag.category {
      display: none;
    }

    .exercise-content-wrapper {
      flex-direction: column;
      width: 100%;
      padding: 12px 16px 16px 16px;
    }

    .exercise-content-wrapper .exercise-body {
      padding: 0px;
      padding-bottom: 4px;
    }

    .exercise-content-wrapper .exercise-right {
      width: 100%;
      justify-content: center;
      padding-right: 0px;
    }
  }
  